###############################################################################
# Dependencies                                                                #
###############################################################################
node_modules

###############################################################################
# Temporary files                                                             #
###############################################################################
*.log
*.tmp
tmp/
logs/

###############################################################################
# Editor files                                                                #
###############################################################################
# JetBrains (Webstorm, IntelliJ IDEA, ...)
.idea/
*.iml

###############################################################################
# Other                                                                       #
###############################################################################
# Runtime data
pids
*.pid
*.seed
